{{ form_start(form, {'attr': {'class': 'container-fluid form-group',
						 'novalidate': 'novalidate'
						} 
}) }}
    <div class="form-row align-items-center mb-1"> 
		<div class="col-lg-2 col-md-2 col-sm-6">
			{{ form_row(form.name, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		</div>
		<div class="col-lg-2 col-md-2 col-sm-6">
			{{ form_row(form.surname1, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		</div>
		<div class="col-lg-2 col-md-2 col-sm-6">
			{{ form_row(form.surname2, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		</div>
		<div class="col-lg-2 col-md-2 col-sm-6">
			{{ form_row(form.telephone, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		</div>
	</div>
	<h4 class="">{{ "contact.labels" | trans | capitalize }}</h4>
	<div class ="form-row js-labels-wrapper col-lg-2 col-md-2 col-sm-6 align-items-center" 
		 data-prototype="{{ form_widget(form.labels.vars.prototype)|e('html_attr') }}"
		 data-index="{{ form.labels|length }}"
	>
		{% for labelForm in form.labels %}
				{{ form_errors (labelForm) }}
			<div class="col-xs-4 mb-1 js-label-item">
				{% if not readonly %}
					<a href="#" class="js-label-remove pull-right"><span class="fa fa-close"></span></a>
				{% endif %}
				{{ form_widget (labelForm.name, {'attr' : { 'readonly' : true,
															'class': 'js-autocomplete'   }} ) }}
				{{ form_widget (labelForm.id, {'attr' : { 'readonly' : true,
															'class': 'js-autocomplete-id'   }} ) }}
			</div>
		{% endfor %}
		{% if not readonly %}
			<a href="#" class="btn btn-primary js-label-add">
				<span class="fa fa-plus"></span> {{ "btn.addLabel" | trans | capitalize}}
			</a>
		{% endif %}
    </div>
    <div class="form-row align-items-center mt-3"> 	
	{% if readonly == false %}
		<button type="Submit" class="btn btn-primary ml-1">{{ "btn.save" | trans | capitalize }}</button>
	{% endif %}
	{% set url = path('contact_list') %}
		<button type="Button" class="btn btn-primary ml-1 js-back" data-url="{{ url }}">{{ "btn.back" | trans | capitalize }}</button>
    </div>
<!-- Token CSRF -->
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false, 
				   'attr': {'class': '',
			       } 
}) }}
