<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
		{{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
		{% block header %}
			{{ include('common/header.html.twig') }}
		{% endblock header %}
		{% block menu %}
			{{ include('common/menu.html.twig') }}
		{% endblock %}
        {% block body %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>