{{ form_start(form, {'attr': {'class': 'container-fluid form-group',
						 'novalidate': 'novalidate'
						} 
}) }}
    <div class="form-row align-items-center mb-1">
		
		<div class="col-lg-2 col-md-2 col-sm-6">
			{{ form_row(form.fromDate, { 'attr': { 'id': '', 'class' : 'js-datetimepicker form-control-sm'} }) }}
		</div>
		<div class="col-lg-2 col-md-2 col-sm-6">
			{{ form_row(form.toDate, { 'attr': { 'id': '', 'class' : 'js-datetimepicker form-control-sm'} }) }}
		</div>
		<div class="col-lg-2 col-md-2 col-sm-6">
			{{ form_row(form.contacts, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			<div class="col-lg-2 col-md-2 col-sm-6">
				{{ form_row(form.user, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
			</div>
		{% endif %}
}		<button type="Submit" class="btn btn-primary ml-1">{{ "btn.search" | trans | capitalize }}</button>
		{% set url = path('audit_list') %}
		<button type="Button" class="btn btn-primary ml-1 js-back" data-url="{{ url }}">{{ "btn.back" | trans | capitalize }}</button>
	</div>
<!-- Token CSRF -->
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false, 
				   'attr': {'class': '',
			       } 
}) }}
